{% extends 'app/base.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        {% if tasks.count == 0 %}
            <h2>You have no tasks left, want to create one?</h2>
        {% endif %}
        {% if request.user.is_authenticated == False %}
        <h2>You have no tasks left, want to create one?, Sign In First</h2>
        
        {% endif %}

       
    </div>
    {% if request.user.is_authenticated %}
          <a style="color:#F6F7F8; font-size:2rem;" href="{%url 'logoutPage'%}"><u>Logout</u></a>
    {% else %}
        <a style="color:#ADD8E6; font-size:2.5rem;padding:10px" href="{%url 'login' %}"> <u> Login </u></a> 
    {% endif %}
</div>
{% if request.user.is_authenticated %}
<h1 style = 'color:white;'>My ToDo List</h1>
<h3> <a style = 'color:#59D9CA' href="{% url 'create-task' %}"> <u> Create Task  <i class="fa-solid fa-plus"></i></u></a> </h3>
{% for task in tasks %}
<p>
    {% if task.complete %}
    <div class="task-complete">
     <div class="task-complete-icon"></div><s> {{task.title}}</s>
    </div>
    {% else %}   
    {{task.title}}
  
    {% endif %}
    &emsp;
    <a style = 'color:whitesmoke;' href="{% url 'update-task' task.id %}"> <u> Edit  <i class="fa-solid fa-pen-to-square"></i> </u></a>
    &emsp;
    <a style = 'color:whitesmoke;' href="{% url 'delete-task' task.id %}"> <u> Delete <i class="fa-solid fa-trash"></i></u> </a>
    &emsp;
    <a style = 'color:whitesmoke;' href="{% url 'task-detail' task.id %}"> <u> View  <i class="fa-solid fa-scroll"></i></u> </a>


</p>
{% endfor %}
<p></p>

{% endif %}
</div>
{% endblock %}

